<h1 style="color:skyblue">MOVIE LISTS</h1>
<% data["Search"].forEach(function(movie){ %>
   <li style="color:purple;font-size:25px;"><b><%= movie["Title"] %></b> - <%= movie["Year"] %></li>
<% }) %>
<a href="/searchmovie">Search again!</a>